.idea
.javaccheck
.patchcheck
.svncheck
.unzipcheck
.jarcheck
*.iml
jars
out
tmp
**/target
**/AutoManMemoDB
apps/HowManyThings/HowManyThings.properties
**/*.mv.db
**/*.trace.db
**/.AppleDouble
# ignore the SBT-generated git hash object
libautoman/src/main/scala/edu/umass/cs/automan/core/util/GitHash.scala
libautoman/project/build.properties

# for Jekyll
docs/_site
docs/Gemfile.lock
docs/dist/bootstrap
docs/dist/jquery
docs/.idea
